<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Add new product</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="#" th:action="@{/add}" th:object="${product}" method="post">
  <p>Id: <input type="text" th:field="*{id}"/></p>
  <br>
  <p>Title: <input type="text" th:field="*{title}"/></p>
  <br>
  <p>Cost: <input type="text" th:field="*{cost}"/></p>
  <br>
  <button type="submit">Save</button>
</form>
</body>
</html>
